<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<META name="description" content="Debasish R. Mohapatra is a master student at the University of British Columbia doing research in articulatory speech synthesis."><META name="keywords" content="computer science, ECE, Articulatory speech synthesis, speech production">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% include analytics.html %}
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/projects">Publications</a></li>
			<li><a href=https://debasishray19.github.io/markdown-cv/>Resume</a></li>
			<li><a href="/WebLinks">WebLinks</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div>
		
	</body>
</html>
